@mixin flexPosition {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: auto;
}

.app-title p {
  margin: auto;
  font-size: 3em;
}

.toggle-button-container {
  @include flexPosition();
  margin-top: 4em;
}

.toggle-button-container button {
  width: 4em;
  height: 4em;
  background-color: yellow;
  border-radius: 50em;
  outline: none;
}

.toggle-instruct {
  @include flexPosition();
  margin-top: 1em;
  font-size: 20px;
}
