.search-input-container {
  width: 80%;
  margin: auto;
  margin-top: 2em;
}

.search-title-component {
  text-align: center;
  font-size: 20px;
}

.search-input-box {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.search-output {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1em;
}

.search-names {
  font-size: 20px;
  padding-left: 3em;
}
