* {
  margin: 0;
  padding: 0;
}

@mixin flexPosition {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: auto;
}

.app-title {
  border-bottom: solid;
  height: 5em;
  @include flexPosition();
}
